.hero {
  padding: 0;

  .container {
    padding-right: 0;
    display: flex;
    @include respond-from('small') {
      flex-direction: column-reverse;
      padding-left: 0;
    }
  }

  &__info {
    width: 50%;
    height: 730px;
    //max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
    @include respond-from('large') {
      height: vw-large(730px);
      padding-right: vw-large(40px);
    }
    @include respond-from('medium') {
      height: vw-medium(610px);
      padding-right: vw-medium(40px);
    }
    @include respond-from('small') {
      width: 100%;
      height: auto;
      padding: vw-small(32px) vw-small(16px) vw-small(64px) vw-small(16px);
    }

    &__title {
      font-size: 48px;
      font-weight: 700;
      color: $black;
      margin-bottom: 16px;
      @include respond-from('large') {
        font-size: vw-large(48px);
        margin-bottom: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(36px);
        margin-bottom: vw-medium(16px);
      }
      @include respond-from('small') {
        font-size: vw-small(36px);
        margin-bottom: vw-small(16px);
      }
    }

    &__text {
      font-size: 20px;
      font-weight: 400;
      color: $black;
      margin-bottom: 48px;
      line-height: 26px;
      @include respond-from('large') {
        font-size: vw-large(20px);
        margin-bottom: vw-large(48px);
        line-height: vw-large(26px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(18px);
        margin-bottom: vw-medium(48px);
        line-height: vw-medium(26px);
        br{
          display: none;
        }
      }
      @include respond-from('small') {
        font-size: vw-small(20px);
        margin-bottom: vw-small(40px);
        line-height: vw-small(26px);
      }
    }

    &__btn {
      background: $orange;
      color: $white;
      font-size: 20px;
      width: max-content;
      @include respond-from('large') {
        font-size: vw-large(20px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(20px);
      }
      @include respond-from('small') {
        font-size: vw-small(20px);
      }
    }
  }

  &__slider {
    display: flex;
    height: 730px;
    overflow: hidden;
    position: absolute;
    width: 48vw;
    right: 0;
    @include respond-from('large') {
      height: vw-large(730px);
    }
    @include respond-from('medium') {
      height: vw-medium(610px);
    }
    @include respond-from('small') {
      width: 100%;
      height: 100%;
      max-height: vw-small(400px);
      position: relative;
    }
    &__container {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .swiper-pagination {
      pointer-events: all !important;
      display: flex;
      justify-content: center;
      gap: 8px;
      padding-bottom: 30px;
      @include respond-from('large') {
        gap: vw-large(8px);
        padding-bottom: vw-large(30px);
      }
      @include respond-from('medium') {
        gap: vw-medium(8px);
        padding-bottom: vw-medium(30px);
      }
      @include respond-from('small') {
        gap: vw-small(8px);
        padding-bottom: vw-small(30px);
      }

      span {
        margin: 0;
        padding: 0;
        border-radius: 0;
        width: 12px;
        height: 12px;
        cursor: pointer;
        pointer-events: all !important;
        background: $grey;
        opacity: 0.9;
        @include respond-from('large') {
          width: vw-large(12px);
          height: vw-large(12px);
        }
        @include respond-from('medium') {
          width: vw-medium(12px);
          height: vw-medium(12px);
        }
        @include respond-from('small') {
          width: vw-small(12px);
          height: vw-small(12px);
        }

        &.swiper-pagination-bullet-active {
          background: $orange;
        }
      }
    }
  }
}