.partners{
  background: $light-grey;
  .container{

  }
  &__title{
    color: $black;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    @include respond-from('large') {
      font-size: vw-large(40px);
      line-height: vw-large(48px);
      margin-bottom: vw-large(16px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(32px);
      line-height: vw-medium(37px);
      margin-bottom: vw-medium(16px);
    }
    @include respond-from('small') {
      font-size: vw-small(32px);
      line-height: vw-small(37px);
      margin-bottom: vw-small(16px);
    }
  }
  &__text{
    color: $black;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    margin-bottom: 56px;
    @include respond-from('large') {
      font-size: vw-large(24px);
      line-height: vw-large(34px);
      margin-bottom: vw-large(56px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(20px);
      line-height: vw-medium(28px);
      margin-bottom: vw-medium(56px);
    }
    @include respond-from('small') {
      font-size: vw-small(20px);
      line-height: vw-small(28px);
      margin-bottom: vw-small(56px);
    }
  }
  &__items{
    overflow: hidden;
    padding: 0 96px;
    position: relative;

    &__img{
      width: 170px!important;
      margin-right: 100px!important;
      @include respond-from('large') {
        margin-right: vw-large(100px)!important;
        width: vw-large(170px)!important;
      }
      @include respond-from('medium') {
        margin-right: vw-medium(50px)!important;
        width: vw-medium(175px)!important;
      }
      @include respond-from('small') {
        margin-right: vw-small(90px)!important;
        width: vw-small(195px)!important;
      }
    }
    .swiper-button-next, .swiper-button-prev{
      top: auto;
      width: 40px;
      height: 40px;
      margin-top: 0;
      @include respond-from('large') {
        width: vw-large(40px);
        height: vw-large(40px);
      }
      @include respond-from('medium') {
        width: vw-medium(40px);
        height: vw-medium(40px);
      }
      @include respond-from('small') {
        width: vw-small(40px);
        height: vw-small(40px);
      }
      &:after{
        display: none;
      }
    }
    .swiper-button-prev{
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M31.666 20H9.99935" stroke="%23585858" stroke-width="2" stroke-linecap="square"/><path d="M20 8.33203L8.33333 19.9987L20 31.6654" stroke="%23585858" stroke-width="2" stroke-linecap="square"/></svg>');
        background-size: cover;
      }
    }
    .swiper-button-next{
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      &:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path d="M31.666 20H9.99935" stroke="%23585858" stroke-width="2" stroke-linecap="square"/><path d="M20 8.33203L8.33333 19.9987L20 31.6654" stroke="%23585858" stroke-width="2" stroke-linecap="square"/></svg>');
        background-size: cover;
        transform: rotate(180deg);
      }
    }
  }
}