.projects {
  overflow: hidden;
  .container {

  }

  &__title {
    color: $black;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__link {
    color: $black;
    font-size: 20px;
    line-height: 38px;
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    &:hover{
      &:after{
        right: -35px;
      }
    }
    &:after{
      position: absolute;
      content: '';
      width: 18px;
      height: 20px;
      background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"><path d="M1 11H13.5" stroke="%23303033" stroke-width="1.5" stroke-linecap="square"/><path d="M9 5.75L14.25 11L9 16.25" stroke="%23303033" stroke-width="1.5" stroke-linecap="square"/></svg>');
      background-size: cover;
      right: -25px;
      top: 50%;
      transform: translateY(-50%);
      transition: all .2s ease-in-out;
    }
  }

  &__items {

  }

  &__item {
    width: 560px!important;
    &__img {
      width: 100%;
      height: 340px!important;
      object-fit: cover;
      margin-bottom: 24px;
    }

    &__title {
      color: $black;
      font-size: 28px;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 8px;

    }

    &__text {
      color: $black;
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
    }
  }
}