.sliderVertical{
  &__title {
    color: $black;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 70px;

    @include respond-from('large') {
      font-size: vw-large(40px);
      line-height: vw-large(46px);
      margin-bottom: vw-large(70px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(32px);
      line-height: vw-medium(38px);

    }
    @include respond-from('small') {
      font-size: vw-small(32px);
      line-height: vw-small(38px);

    }
  }
  &__container{
    display: flex;
    gap: 100px;
    justify-content: center;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    padding: 0 100px;
  }

  &__lists{
    width: 50%;
    &__item{
      height: min-content!important;
      cursor: pointer;
      font-size: 36px;
      line-height: 40px;
      color: $black;
      opacity: .5;
      letter-spacing: -0.02em;
      &.swiper-slide-thumb-active{
        opacity: 1;
      }
    }
  }
  &__content{
    width: 50%;
    &__item{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__title{
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 4px;
    }
    &__text{
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 24px;
    }
    &__lists{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__list{
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      gap: 16px;
      position: relative;
      padding-left: 24px;
      &:after{
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none"><path d="M1 9.5H13.5" stroke="%23303033" stroke-width="1.5" stroke-linecap="square"/><path d="M9 4.25L14.25 9.5L9 14.75" stroke="%23303033" stroke-width="1.5" stroke-linecap="square"/></svg>');
        background-size: cover;
        left: 0;
      }
    }
  }
}