.tabs {
  background: $light-grey;

  .container {

  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 64px;
    position: relative;
    @include respond-from('large') {
      margin-bottom: vw-large(64px);
    }
    @include respond-from('medium') {
      margin-bottom: vw-medium(48px);
    }
    @include respond-from('small') {
      margin-bottom: vw-small(24px);
    }
  }

  &__indicator {
    height: 3px;
    background: $black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease, width 0.3s ease;
  }

  &__item {
    font-family: $font__title;
    padding: 16px;
    height: 55px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $grey;
    cursor: pointer;
    @include respond-from('large') {
      padding: vw-large(16px);
      height: vw-large(55px);
      font-size: vw-large(20px);
    }
    @include respond-from('medium') {
      padding: vw-medium(16px);
      height: vw-medium(55px);
      font-size: vw-medium(20px);
    }
    @include respond-from('small') {
      padding: vw-small(8px);
      height: vw-small(55px);
      font-size: vw-small(16px);
      text-align: center;
    }

    &.active {
      font-weight: 700;
    }
  }

  &__content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &.active {
      opacity: 1;
      max-height: 10000px;

    }
  }

  &__title {
    color: $black;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 16px;
    @include respond-from('large') {
      font-size: vw-large(40px);
      line-height: vw-large(46px);
      margin-bottom: vw-large(16px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(32px);
      line-height: vw-medium(38px);
      margin-bottom: vw-medium(8px);
    }
    @include respond-from('small') {
      font-size: vw-small(32px);
      line-height: vw-small(38px);
      margin-bottom: vw-small(8px);
    }
  }

  &__text {
    color: $black;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 64px;
    max-width: 70%;
    @include respond-from('large') {
      font-size: vw-large(24px);
      line-height: vw-large(34px);
      margin-bottom: vw-large(64px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(20px);
      line-height: vw-medium(28px);
      margin-bottom: vw-medium(48px);
    }
    @include respond-from('small') {
      max-width: none;
      font-size: vw-small(20px);
      line-height: vw-small(28px);
      margin-bottom: vw-small(40px);
    }
  }

  &__points {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 42px;
    row-gap: 64px;
    @include respond-from('large') {
      column-gap: vw-large(42px);
      row-gap: vw-large(64px);
    }
    @include respond-from('medium') {
      grid-template-columns: repeat(2, 1fr);
      column-gap: vw-medium(24px);
      row-gap: vw-medium(32px);
    }
    @include respond-from('small') {
      grid-template-columns: repeat(1, 1fr);
      row-gap: vw-medium(24px);
    }
  }

  &__point {
    padding-left: 30px;
    @include respond-from('large') {
      padding-left: vw-large(30px);
    }
    @include respond-from('medium') {
      padding-left: vw-medium(30px);
    }
    @include respond-from('small') {
      padding-left: vw-small(30px);
    }

    &__title {
      color: $black;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      margin-bottom: 8px;
      position: relative;
      @include respond-from('large') {
        font-size: vw-large(24px);
        line-height: vw-large(28px);
        margin-bottom: vw-large(8px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(24px);
        line-height: vw-medium(28px);
        margin-bottom: vw-medium(8px);
      }
      @include respond-from('small') {
        font-size: vw-small(24px);
        line-height: vw-small(28px);
        margin-bottom: vw-small(8px);
      }

      &:after {
        position: absolute;
        content: '';
        width: 22px;
        height: 22px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M1.22266 11H16.5004" stroke="%23303033" stroke-width="2" stroke-linecap="square"/><path d="M11 4.58496L17.4167 11.0016L11 17.4183" stroke="%23303033" stroke-width="2" stroke-linecap="square"/></svg>');
        background-size: cover;
        left: -30px;
        top: 50%;
        transform: translateY(-50%);
        @include respond-from('large') {
          width: vw-large(22px);
          height: vw-large(22px);
          left: vw-large(-30px);
        }
        @include respond-from('medium') {
          width: vw-medium(22px);
          height: vw-medium(22px);
          left: vw-medium(-30px);
        }
        @include respond-from('small') {
          width: vw-small(22px);
          height: vw-small(22px);
          left: vw-small(-30px);
        }
      }
    }

    &__text {
      color: $black;
      font-size: 18px;
      line-height: 26px;

      @include respond-from('large') {
        font-size: vw-large(18px);
        line-height: vw-large(26px);

      }
      @include respond-from('medium') {
        font-size: vw-medium(18px);
        line-height: vw-medium(26px);
      }
      @include respond-from('small') {
        font-size: vw-small(18px);
        line-height: vw-small(26px);
      }
    }
  }

  &__step {
    &__title {
      color: $black;
      font-size: 32px;
      line-height: 38px;
      font-weight: 700;
      margin-bottom: 56px;

      @include respond-from('large') {
        font-size: vw-large(32px);
        line-height: vw-large(38px);
        margin-bottom: vw-large(56px);

      }
      @include respond-from('medium') {
        font-size: vw-medium(32px);
        line-height: vw-medium(38px);
        margin-bottom: vw-medium(56px);
      }
      @include respond-from('small') {
        font-size: vw-small(28px);
        line-height: vw-small(34px);
        margin-bottom: vw-small(24px);
      }
    }

    &__slider {
      display: flex;
      gap: 100px;
      justify-content: center;
      height: 100%;
      max-height: 700px;
      overflow: hidden;
      align-items: center;
      padding: 0 100px;
      @include respond-from('large') {
        gap: vw-large(100px);
        max-height: vw-large(700px);
        padding: 0 vw-large(100px);
      }
      @include respond-from('medium') {
        gap: vw-medium(100px);
        max-height: vw-medium(700px);
        padding: 0;
      }
      @include respond-from('small') {
        flex-direction: column;
        gap: vw-small(30px);
        max-height: none;
      }
    }
  }

  .slider__step__items {
    .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @include respond-from('large') {
        gap: vw-large(40px);
      }
      @include respond-from('medium') {
        gap: vw-medium(40px);
      }
      @include respond-from('small') {
        flex-direction: row;
        gap: vw-small(20px);
      }
    }

    .step__slider__item {
      display: flex;
      gap: 24px;
      align-items: center;
      height: min-content !important;
      cursor: pointer;
      position: relative;
      @include respond-from('large') {
        gap: vw-large(24px);
      }
      @include respond-from('medium') {
        gap: vw-medium(24px);
      }
      @include respond-from('small') {
        width: max-content;
        margin-bottom: 0 !important;
      }

      &:before {
        position: absolute;
        content: '';
        width: 2px;
        height: 0;
        top: 48px;
        left: 23px;
        background: $orange;
        transition: all .3s ease-in-out;
        transform: rotate(180deg);
        @include respond-from('large') {
          width: vw-large(2px);
          top: vw-large(48px);
          left: vw-large(23px);
        }
        @include respond-from('medium') {
          width: vw-medium(2px);
          top: vw-medium(48px);
          left: vw-medium(23px);
        }
        @include respond-from('small') {
          height: vw-small(2px);
          left: auto;
          right: vw-small(-20px);
          width: 0;
          top: 50%;
        }
      }

      &.active {
        span {
          background: $orange;
          color: $white;
        }

        h4 {
          color: $orange;
        }

        &:before {
          height: 54px;
          @include respond-from('large') {
            height: vw-large(54px);
          }
          @include respond-from('medium') {
            height: vw-medium(54px);
          }
          @include respond-from('small') {
            height: vw-small(2px);
            width: vw-small(22px);

          }
        }
      }

      &.swiper-slide-thumb-active {
        span {
          background: $orange;
          color: $white;
        }

        h4 {
          color: $orange;
        }
      }

      span {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #fff;
        font-family: $font__title;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        font-weight: 700;
        flex-shrink: 0;
        transition: all .3s ease-in-out;
        pointer-events: none;
        @include respond-from('large') {
          width: vw-large(48px);
          height: vw-large(48px);
          font-size: vw-large(28px);
        }
        @include respond-from('medium') {
          width: vw-medium(48px);
          height: vw-medium(48px);
          font-size: vw-medium(28px);
        }
        @include respond-from('small') {
          width: vw-small(42px);
          height: vw-small(42px);
          font-size: vw-small(26px);
        }
      }

      h4 {
        font-size: 22px;
        transition: all .3s ease-in-out;
        pointer-events: none;
        @include respond-from('large') {
          font-size: vw-large(22px);
        }
        @include respond-from('medium') {
          font-size: vw-medium(22px);
        }
        @include respond-from('small') {
          display: none;
          font-size: vw-small(18px);
        }
      }
    }
  }

  .slider__step__contents {
    max-height: 700px;
    @include respond-from('large') {
      max-height: vw-large(700px);
    }
    @include respond-from('medium') {
      max-height: vw-medium(700px);
    }
    @include respond-from('small') {
      max-height: none;
      width: 100%;
    }

    .slider__step__content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .step__content {
        padding-left: 28px;
        margin-bottom: 16px;
        @include respond-from('large') {
          padding-left: vw-large(28px);
          margin-bottom: vw-large(16px);
        }
        @include respond-from('medium') {
          padding-left: vw-medium(28px);
          margin-bottom: vw-medium(16px);
        }
        @include respond-from('small') {
          padding-left: vw-small(28px);
          margin-bottom: vw-small(12px);

        }

        &__title {
          color: $black;
          font-size: 22px;
          line-height: 26px;
          font-weight: 700;
          margin-bottom: 4px;
          position: relative;
          @include respond-from('large') {
            font-size: vw-large(22px);
            line-height: vw-large(26px);
            margin-bottom: vw-large(4px);
          }
          @include respond-from('medium') {
            font-size: vw-medium(18px);
            line-height: vw-medium(22px);
            margin-bottom: vw-medium(4px);
          }
          @include respond-from('small') {
            font-size: vw-small(18px);
            line-height: vw-small(22px);
            margin-bottom: vw-small(4px);
          }

          &:after {
            position: absolute;
            content: '';
            width: 20px;
            height: 20px;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M1.22266 11H16.5004" stroke="%23303033" stroke-width="2" stroke-linecap="square"/><path d="M11 4.58496L17.4167 11.0016L11 17.4183" stroke="%23303033" stroke-width="2" stroke-linecap="square"/></svg>');
            background-size: cover;
            left: -28px;
            top: 50%;
            transform: translateY(-50%);
            @include respond-from('large') {
              width: vw-large(20px);
              height: vw-large(20px);
              left: vw-large(-28px);
            }
            @include respond-from('medium') {
              width: vw-medium(16px);
              height: vw-medium(16px);
              left: vw-medium(-22px);
            }
            @include respond-from('small') {
              width: vw-small(16px);
              height: vw-small(16px);
              left: vw-small(-22px);
            }
          }

        }

        &__text {
          color: $black;
          font-size: 18px;
          line-height: 26px;

          @include respond-from('large') {
            font-size: vw-large(18px);
            line-height: vw-large(26px);

          }
          @include respond-from('medium') {
            font-size: vw-medium(16px);
            line-height: vw-medium(24px);
          }
          @include respond-from('small') {
            font-size: vw-small(16px);
            line-height: vw-small(24px);
          }
        }
      }
    }
  }

  &__lighting {
    &__items {
      display: flex;
      gap: 120px;
      margin-bottom: 56px;
      @include respond-from('large') {
        gap: vw-large(120px);
        margin-bottom: vw-large(56px);
      }
      @include respond-from('medium') {
        gap: vw-medium(32px);
        margin-bottom: vw-medium(48px);
      }
      @include respond-from('small') {
          flex-direction: column;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        //flex-direction: row-reverse;
        flex-direction: column;
      }
    }

    &__img {
      width: 460px;
      height: 560px;
      object-fit: cover;
      @include respond-from('large') {
        width: vw-large(460px);
        height: vw-large(560px);
      }
      @include respond-from('medium') {
        width: vw-medium(360px);
        height: vw-medium(410px);
      }
      @include respond-from('small') {
        width: 100%;
        height: auto;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

    &__title {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      margin-bottom: 18px;
      @include respond-from('large') {
        font-size: vw-large(24px);
        line-height: vw-large(28px);
        margin-bottom: vw-large(18px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(18px);
        line-height: vw-medium(22px);
        margin-bottom: vw-medium(12px);
      }
      @include respond-from('small') {
        font-size: vw-small(18px);
        line-height: vw-small(22px);
        margin-bottom: vw-small(12px);
      }
    }

    &__lists {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-left: 30px;
      @include respond-from('large') {
        margin-bottom: vw-large(18px);
        padding-left: vw-large(30px);
        gap: vw-large(8px);
      }
      @include respond-from('medium') {
        margin-bottom: vw-medium(10px);
        padding-left: vw-medium(30px);
        gap: vw-medium(8px);
      }
      @include respond-from('small') {
        margin-bottom: vw-small(10px);
        padding-left: vw-small(30px);
        gap: vw-small(8px);
      }
    }

    &__list {
      &__title {
        color: $black;
        font-size: 22px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 4px;
        position: relative;
        @include respond-from('large') {
          font-size: vw-large(22px);
          line-height: vw-large(26px);
          margin-bottom: vw-large(4px);
        }
        @include respond-from('medium') {
          font-size: vw-medium(16px);
          line-height: vw-medium(22px);
          margin-bottom: 0;
        }
        @include respond-from('small') {
          font-size: vw-small(16px);
          line-height: vw-small(22px);
          margin-bottom: 0;
        }

        &:after {
          position: absolute;
          content: '';
          width: 20px;
          height: 20px;
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M1.22266 11H16.5004" stroke="%23303033" stroke-width="2" stroke-linecap="square"/><path d="M11 4.58496L17.4167 11.0016L11 17.4183" stroke="%23303033" stroke-width="2" stroke-linecap="square"/></svg>');
          background-size: cover;
          left: -28px;
          top: 50%;
          transform: translateY(-50%);
          @include respond-from('large') {
            width: vw-large(20px);
            height: vw-large(20px);
            left: vw-large(-28px);
          }
          @include respond-from('medium') {
            width: vw-medium(20px);
            height: vw-medium(20px);
            left: vw-medium(-28px);
          }
          @include respond-from('small') {
            width: vw-small(20px);
            height: vw-small(20px);
            left: vw-small(-28px);
          }
        }
      }

      &__text {
        color: $black;
        font-size: 18px;
        line-height: 26px;

        @include respond-from('large') {
          font-size: vw-large(18px);
          line-height: vw-large(26px);

        }
        @include respond-from('medium') {
          font-size: vw-medium(16px);
          line-height: vw-medium(20px);
        }
        @include respond-from('small') {
          font-size: vw-small(16px);
          line-height: vw-small(20px);
        }
      }
    }
  }
}