.news {
    padding-top: 32px;
    @include respond-from('large') {
        padding-top: vw-large(32px);
    }

    &__row {
        display: flex;
        gap: 27px; 
        margin-bottom: 56px;
        @include respond-from('large') { 
            gap: vw-large(27px);
            margin-bottom: vw-large(56px);
        }
    }

    &__grid {
        display: grid;
        gap: 56px 27px; 
        grid-template-columns: repeat(3, 1fr);
        @include respond-from('large') { 
            gap: vw-large(56px) vw-large(27px);
        }
        @include respond-from('medium') { 
            grid-template-columns: repeat(2, 1fr);
            gap: vw-medium(56px) vw-medium(27px);
        }
        @include respond-from('small') { 
            grid-template-columns: repeat(1, 1fr);
            gap: vw-small(56px) vw-small(27px);
        }
    }
}