*{
	font-family: $font__text;
}
p {
	margin: 0;
}
dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}
.text {
	&--default {
		color: inherit;
		font-size: 24px;
		line-height: 34px;
		margin-bottom: 56px;
		@include respond-from('large') {
		  font-size: vw-large(24px);
		  line-height: vw-large(34px);
		  margin-bottom: vw-large(56px);
		}
		@include respond-from('medium') {
		  font-size: vw-medium(20px);
		  line-height: vw-medium(28px);
		  margin-bottom: vw-medium(48px);
		}
		@include respond-from('small') {
		  font-size: vw-small(20px);
		  line-height: vw-small(28px);
		  margin-bottom: vw-small(40px);
		}
	}
	&--small {
		color: inherit;
		font-size: 16px;
		line-height: 19.2px;
		margin-bottom: 16px;
		font-weight: 600;
		@include respond-from('large') {
		  font-size: vw-large(16px);
		  line-height: vw-large(19.2px);
		  margin-bottom: vw-large(16px);
		}
		// @include respond-from('medium') {
		//   font-size: vw-medium(20px);
		//   line-height: vw-medium(28px);
		//   margin-bottom: vw-medium(48px);
		// }
		// @include respond-from('small') {
		//   font-size: vw-small(20px);
		//   line-height: vw-small(28px);
		//   margin-bottom: vw-small(40px);
		// }
	}
}