.achievements{
  background: $light-grey;
  .container{

  }
  &__title {
    color: $black;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 16px;
    @include respond-from('large') {
      font-size: vw-large(40px);
      line-height: vw-large(46px);
      margin-bottom: vw-large(16px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(32px);
      line-height: vw-medium(38px);
      margin-bottom: vw-medium(16px);
    }
    @include respond-from('small') {
      font-size: vw-small(32px);
      line-height: vw-small(38px);
      margin-bottom: vw-small(16px);
    }
  }

  &__text {
    color: $black;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 56px;
    @include respond-from('large') {
      font-size: vw-large(24px);
      line-height: vw-large(34px);
      margin-bottom: vw-large(56px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(18px);
      line-height: vw-medium(26px);
      margin-bottom: vw-medium(48px);
    }
    @include respond-from('small') {
      font-size: vw-small(16px);
      line-height: vw-small(24px);
      margin-bottom: vw-small(40px);
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    @include respond-from('large') {
      gap: vw-large(16px);
    }
    @include respond-from('medium') {
      gap: vw-medium(16px);
    }
    @include respond-from('small') {
      grid-template-columns: repeat(2, 1fr);
      gap: vw-small(8px);
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 16px 16px;
    background: #fff;
    @include respond-from('large') {
      padding: vw-large(32px) vw-large(16px) vw-large(16px) vw-large(16px);
    }
    @include respond-from('medium') {
      padding: vw-medium(26px) vw-medium(16px) vw-medium(16px) vw-medium(16px);
    }
    @include respond-from('small') {
      padding: vw-small(26px) vw-small(16px) vw-small(16px) vw-small(16px);
    }
    &__img{
      width: 80px;
      height: 80px;
      margin-bottom: 8px;
      @include respond-from('large') {
        width: vw-large(80px);
        height: vw-large(80px);
        margin-bottom: vw-large(8px);
      }
      @include respond-from('medium') {
        width: vw-medium(72px);
        height: vw-medium(72px);
        margin-bottom: vw-medium(8px);
      }
      @include respond-from('small') {
        width: vw-small(64px);
        height: vw-small(64px);
        margin-bottom: vw-small(8px);
      }
    }
    &__title{
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 8px;
      text-align: center;
      @include respond-from('large') {
        font-size: vw-large(24px);
        line-height: vw-large(28px);
        margin-bottom: vw-large(8px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(20px);
        line-height: vw-medium(22px);
        margin-bottom: vw-medium(8px);
      }
      @include respond-from('small') {
        font-size: vw-small(18px);
        line-height: vw-small(20px);
        margin-bottom: vw-small(8px);
      }
    }
    &__text{
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      @include respond-from('large') {
        font-size: vw-large(18px);
        line-height: vw-large(24px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(16px);
        line-height: vw-medium(20px);
      }
      @include respond-from('small') {
        font-size: vw-small(14px);
        line-height: vw-small(16px);
      }
    }
  }
}