.hero-contact {
  position: relative;

  @include respond-from('large') {
    padding: vw-large(131.5px) 0 vw-large(131.5px) vw-large(485px);
  }
  @include respond-from('medium') {
    padding: vw-medium(40px) 0 0 vw-medium(300px);
  }
  @include respond-from('small') { 
    padding: 0;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
    @include respond-from('small') { 
      max-height: vw-small(400px);
    }

    &-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: vw-large(514px);

      @include respond-from('small') { 
        position: static;
        width: 100vw;
      }
    }
  }

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .contact__container {
    flex-direction: column;
    max-width: 655px;
    & > * {
      width: 100%;
    }

    
    @include respond-from('medium') {
      padding: vw-medium(40px) 0;
    }
    @include respond-from('small') {
      padding: vw-small(32px) 0;
    }
  }
}