$black: rgba(48, 48, 51, 1);
$white: rgba(243, 243, 243, 1);
$orange: rgba(243, 77, 3, 1);
$grey: rgba(168, 168, 168, 1);
$dark-grey: rgba(88, 88, 88, 1);
$light-grey: rgba(245, 245, 245, 1);
$yellow: rgba(246, 162, 36, 1);
