button {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-family: $font__text;
	padding: 7px 40px;
	border: none;
	height: 48px;
	font-weight: 700;
	transition: all .3s ease-in-out;
	&:hover{
		background: #303033!important;
		color: $white!important;
	}
}