.card {
    color: $black;

    a {
        display: flex;
        flex-direction: column;
    }

    &__thumb {
        margin-bottom: 16px;
        height: 350px;
        width: 100%;
        object-fit: cover;

        @include respond-from('large') { 
            height: vw-large(350px);
        }
        @include respond-from('medium') { 
            height: vw-medium(350px);
        }
        @include respond-from('small') { 
            height: vw-small(350px);
        }
    }

    &.big {
        .card__thumb {
            height: 690px;
            object-fit: cover;
            margin-bottom: 16px;

            @include respond-from('large') { 
                height: vw-large(690px);
            }
            @include respond-from('medium') { 
                height: vw-medium(350px);
            }
            @include respond-from('small') { 
                height: vw-medium(350px);
            }
        }
    }

    &__meta {
        letter-spacing: -0.03em;
        font-weight: 400;
        color: $grey;

        margin-bottom: 4px;
        font-size: 14px;
        line-height: 19.6px;
    }

    &__description {
        color: $black;
    }
}