.filter {
    padding: 0;

    &__items {
        display: flex;
        gap: 32px;
        @include respond-from('large') { 
            gap: vw-large(32px);
        }

        overflow-x: auto;
    }

    &__item {
        background: transparent;
        padding: 0;
        border: none;
        text-decoration: underline;
        font-weight: 400;
        transition: all .3s ease-in-out;
        &:hover, &.active {
            color: $orange;
            font-weight: 700;
            text-decoration: none;
        }
    }
}