.footer {
  background: $black;
  padding: 56px 0 16px;
  @include respond-from('large') {
    padding: vw-large(56px) 0 vw-large(16px);
  }
  @include respond-from('medium') {
    padding: vw-medium(56px) 0 vw-medium(30px);
  }
  @include respond-from('small') {
    padding: vw-small(56px) 0 vw-small(30px);
  }
  &__container {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    @include respond-from('small') {
      display: flex;
      flex-direction: column;
    }
  }

  &__info {
    margin-bottom: 64px;
    @include respond-from('large') {
      margin-bottom: vw-large(64px);
    }
    @include respond-from('medium') {
      margin-bottom: vw-medium(64px);
    }
    @include respond-from('small') {
      margin-bottom: vw-small(40px);
      width: 100%;
    }
    &__logo {
      width: 200px;
      margin-bottom: 8px;
      @include respond-from('large') {
        width: vw-large(200px);
        margin-bottom: vw-large(8px);
      }
      @include respond-from('medium') {
        width: vw-medium(200px);
        margin-bottom: vw-medium(8px);
      }
      @include respond-from('small') {
        width: vw-small(200px);
        margin-bottom: vw-small(8px);
      }
    }

    &__text {
      color: $grey;
      max-width: 364px;
      margin-bottom: 40px;
      font-size: 16px;
      @include respond-from('large') {
        max-width: vw-large(364px);
        margin-bottom: vw-large(40px);
        font-size: vw-large(16px);
      }
      @include respond-from('medium') {
        max-width: vw-medium(262px);
        margin-bottom: vw-medium(40px);
        font-size: vw-medium(14px);
      }
      @include respond-from('small') {
        max-width: none;
        margin-bottom: vw-small(40px);
        font-size: vw-small(14px);
        line-height: vw-small(20px);
      }
    }

    &__social {
      display: flex;
      gap: 26px;
      @include respond-from('large') {
        gap: vw-large(26px);
      }
      @include respond-from('medium') {
        gap: vw-medium(26px);
      }
      @include respond-from('small') {
        gap: vw-small(26px);
      }
      a {
        height: 28px;
        width: 28px;
        background-size: cover !important;
        transition: all .2s ease-in-out;
        @include respond-from('large') {
          height: vw-large(28px);
          width: vw-large(28px);
        }
        @include respond-from('medium') {
          height: vw-medium(28px);
          width: vw-medium(28px);
        }
        @include respond-from('small') {
          height: vw-small(28px);
          width: vw-small(28px);
        }
        &.social__mail {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M4.66732 4.66602H23.334C24.6173 4.66602 25.6673 5.71602 25.6673 6.99935V20.9994C25.6673 22.2827 24.6173 23.3327 23.334 23.3327H4.66732C3.38398 23.3327 2.33398 22.2827 2.33398 20.9994V6.99935C2.33398 5.71602 3.38398 4.66602 4.66732 4.66602Z" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.6673 7L14.0007 15.1667L2.33398 7" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');

          &:hover {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M4.66732 4.66602H23.334C24.6173 4.66602 25.6673 5.71602 25.6673 6.99935V20.9994C25.6673 22.2827 24.6173 23.3327 23.334 23.3327H4.66732C3.38398 23.3327 2.33398 22.2827 2.33398 20.9994V6.99935C2.33398 5.71602 3.38398 4.66602 4.66732 4.66602Z" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.6673 7L14.0007 15.1667L2.33398 7" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }

        &.social__linkedin {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M18.666 9.33398C20.5225 9.33398 22.303 10.0715 23.6158 11.3842C24.9285 12.697 25.666 14.4775 25.666 16.334V24.5007H20.9993V16.334C20.9993 15.7151 20.7535 15.1217 20.3159 14.6841C19.8783 14.2465 19.2849 14.0007 18.666 14.0007C18.0472 14.0007 17.4537 14.2465 17.0161 14.6841C16.5785 15.1217 16.3327 15.7151 16.3327 16.334V24.5007H11.666V16.334C11.666 14.4775 12.4035 12.697 13.7163 11.3842C15.029 10.0715 16.8095 9.33398 18.666 9.33398Z" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.00065 10.5H2.33398V24.5H7.00065V10.5Z" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.66732 7.00065C5.95598 7.00065 7.00065 5.95598 7.00065 4.66732C7.00065 3.37865 5.95598 2.33398 4.66732 2.33398C3.37865 2.33398 2.33398 3.37865 2.33398 4.66732C2.33398 5.95598 3.37865 7.00065 4.66732 7.00065Z" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');

          &:hover {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M18.666 9.33398C20.5225 9.33398 22.303 10.0715 23.6158 11.3842C24.9285 12.697 25.666 14.4775 25.666 16.334V24.5007H20.9993V16.334C20.9993 15.7151 20.7535 15.1217 20.3159 14.6841C19.8783 14.2465 19.2849 14.0007 18.666 14.0007C18.0472 14.0007 17.4537 14.2465 17.0161 14.6841C16.5785 15.1217 16.3327 15.7151 16.3327 16.334V24.5007H11.666V16.334C11.666 14.4775 12.4035 12.697 13.7163 11.3842C15.029 10.0715 16.8095 9.33398 18.666 9.33398Z" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M7.00065 10.5H2.33398V24.5H7.00065V10.5Z" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M4.66732 7.00065C5.95598 7.00065 7.00065 5.95598 7.00065 4.66732C7.00065 3.37865 5.95598 2.33398 4.66732 2.33398C3.37865 2.33398 2.33398 3.37865 2.33398 4.66732C2.33398 5.95598 3.37865 7.00065 4.66732 7.00065Z" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }

        &.social__inst {
          background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M19.834 2.33398H8.16732C4.94566 2.33398 2.33398 4.94566 2.33398 8.16732V19.834C2.33398 23.0556 4.94566 25.6673 8.16732 25.6673H19.834C23.0556 25.6673 25.6673 23.0556 25.6673 19.834V8.16732C25.6673 4.94566 23.0556 2.33398 19.834 2.33398Z" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.6676 13.2654C18.8116 14.2363 18.6458 15.2279 18.1937 16.0992C17.7416 16.9705 17.0263 17.677 16.1495 18.1183C15.2728 18.5596 14.2791 18.7132 13.31 18.5573C12.3409 18.4013 11.4457 17.9438 10.7516 17.2497C10.0575 16.5556 9.59998 15.6604 9.44404 14.6913C9.2881 13.7222 9.4417 12.7286 9.88301 11.8518C10.3243 10.975 11.0308 10.2597 11.9021 9.80763C12.7734 9.35555 13.765 9.1897 14.736 9.33369C15.7264 9.48055 16.6433 9.94206 17.3513 10.65C18.0593 11.358 18.5208 12.2749 18.6676 13.2654Z" stroke="%23A8A8A8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.416 7.58398H20.4277" stroke="%23A8A8A8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');

          &:hover {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path d="M19.834 2.33398H8.16732C4.94566 2.33398 2.33398 4.94566 2.33398 8.16732V19.834C2.33398 23.0556 4.94566 25.6673 8.16732 25.6673H19.834C23.0556 25.6673 25.6673 23.0556 25.6673 19.834V8.16732C25.6673 4.94566 23.0556 2.33398 19.834 2.33398Z" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M18.6676 13.2654C18.8116 14.2363 18.6458 15.2279 18.1937 16.0992C17.7416 16.9705 17.0263 17.677 16.1495 18.1183C15.2728 18.5596 14.2791 18.7132 13.31 18.5573C12.3409 18.4013 11.4457 17.9438 10.7516 17.2497C10.0575 16.5556 9.59998 15.6604 9.44404 14.6913C9.2881 13.7222 9.4417 12.7286 9.88301 11.8518C10.3243 10.975 11.0308 10.2597 11.9021 9.80763C12.7734 9.35555 13.765 9.1897 14.736 9.33369C15.7264 9.48055 16.6433 9.94206 17.3513 10.65C18.0593 11.358 18.5208 12.2749 18.6676 13.2654Z" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M20.416 7.58398H20.4277" stroke="%23F45F1C" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/></svg>');
          }
        }
      }
    }
  }

  &__navigator {
    @include respond-from('small') {
      margin-bottom: vw-small(40px);
    }
    &__title {
      color: $white;
      font-size: 22px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 16px;
      @include respond-from('large') {
        font-size: vw-large(22px);
        line-height: vw-large(24px);
        margin-bottom: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(20px);
        line-height: vw-medium(24px);
        margin-bottom: vw-medium(16px);
      }
      @include respond-from('small') {
        font-size: vw-small(20px);
        line-height: vw-medium(24px);
        margin-bottom: vw-small(16px);
      }
    }

    &__menu {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          margin-bottom: 6px;
          @include respond-from('large') {
            margin-bottom: vw-large(6px);
          }
          @include respond-from('medium') {
            margin-bottom: vw-medium(6px);
          }
          @include respond-from('small') {
            margin-bottom: vw-small(6px);
          }
          a {
            color: $grey;
            @include respond-from('large') {
              font-size: vw-large(16px);
            }
            @include respond-from('medium') {
              font-size: vw-medium(14px);
            }
            @include respond-from('small') {
              font-size: vw-small(14px);
            }
            &:hover {
              color: $orange;
            }

          }
        }
      }
    }
  }

  &__location {
    &>div{
      @include respond-from('small') {
        display: flex;
        justify-content: space-between;
        gap: vw-small(20px);
      }
    }
    &__title {
      color: $white;
      font-size: 22px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 16px;
      @include respond-from('large') {
        font-size: vw-large(22px);
        line-height: vw-large(24px);
        margin-bottom: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(20px);
        line-height: vw-medium(24px);
        margin-bottom: vw-medium(16px);
      }
      @include respond-from('small') {
        font-size: vw-small(20px);
        line-height: vw-small(24px);
        margin-bottom: vw-small(16px);
      }
    }

    &__text {
      color: $grey;
      @include respond-from('large') {
        font-size: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(14px);
      }
      @include respond-from('small') {
        font-size: vw-small(14px);
      }
      a {
        color: $grey;
        display: inline-block;
        margin: 4px 0;
        text-decoration: underline;
        @include respond-from('large') {
          margin: vw-large(4px) 0;
        }
        @include respond-from('medium') {
          margin: vw-medium(4px) 0;
          font-size: vw-medium(14px);
        }
        @include respond-from('small') {
          margin: vw-small(4px) 0;
          font-size: vw-small(14px);
        }
      }
    }
  }

  hr {
    color: $grey;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin-top: 8px;
    @include respond-from('large') {
      margin-top: vw-large(8px);
    }
    @include respond-from('medium') {
      margin-top: vw-medium(8px);
    }
    @include respond-from('small') {
      margin-top: vw-small(8px);
      grid-template-columns: 2fr repeat(1, 2fr);
    }
    &__copyright {
      color: $grey;
      @include respond-from('large') {
        font-size: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(14px);
      }
      @include respond-from('small') {
        font-size: vw-small(14px);
      }
    }

    &__reserved {
      color: $grey;
      @include respond-from('large') {
        font-size: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(14px);
      }
      @include respond-from('small') {
        font-size: vw-small(14px);
        order: 1;
        margin-top: vw-small(8px);
      }
    }

    &__policy {
      color: $grey;
      text-decoration: underline;
      @include respond-from('large') {
        font-size: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(14px);
      }
      @include respond-from('small') {
        font-size: vw-small(14px);
      }
    }
  }
}