.header {
  height: 64px;
  display: flex;
  align-items: center;
  @include respond-from('large') {
    height: vw-large(64px);
  }
  @include respond-from('medium') {
    height: vw-medium(56px);
  }
  @include respond-from('small') {
    height: vw-small(56px);
  }
  &__container{
    display: flex;
    justify-content: space-between;
  }
  &__logo{
    width: 142px;
    @include respond-from('large') {
      width: vw-large(142px);
    }
    @include respond-from('medium') {
      width: vw-medium(120px);
    }
    @include respond-from('small') {
      width: vw-small(120px);
    }
  }
  &__navigator{
    ul{
      margin: 0;
      display: flex;
      list-style: none;
      gap: 40px;
      @include respond-from('large') {
        gap: vw-large(40px);
      }
      @include respond-from('medium') {
        display: none;
      }
      a{
        color: $black;
        font-weight: 600;
      }
      li{
        padding: 10px 12px;
        transition: all .2s ease-in-out;
        &.menu-item-has-children{
          padding: 10px 34px 10px 12px;
          position: relative;
          &:hover{
            background: #F3F3F3;
            &:before{
              transform: translateY(-50%) rotate(180deg);
            }
            .sub-menu{
              display: block;
              position: absolute;
              top: 0;
            }
          }
          &:before{
            position: absolute;
            content: '';
            width: 18px;
            height: 18px;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none"><path d="M1.71436 5.5L8.89103 12.5L16.3856 5.55185" stroke="%23303033" stroke-width="1.5"/></svg>');
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .2s ease-in-out;
          }
        }
        .sub-menu{
          display: none;
          padding: 0;
        }
      }
    }
  }
  .hamburger-menu{
    display: none;
  }
}