.company {
  background: $light-grey;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @include respond-from('large') {
      gap: vw-large(10px);
    }
    @include respond-from('medium') {
      gap: vw-medium(10px);
    }
    @include respond-from('small') {
      flex-direction: column;
      gap: vw-small(16px);
    }
  }

  &__title {
    font-size: 40px;
    line-height: 48px;
    color: $black;
    font-weight: 700;
    max-width: 270px;
    @include respond-from('large') {
      font-size: vw-large(40px);
      line-height: vw-large(48px);
      max-width: vw-large(270px);
    }
    @include respond-from('medium') {
      font-size: vw-medium(32px);
      line-height: vw-medium(36px);
      max-width: vw-medium(170px);
    }
    @include respond-from('small') {
      font-size: vw-small(32px);
      line-height: vw-small(36px);
      max-width: none;
    }
  }

  &__info {
    max-width: 850px;
    @include respond-from('large') {
      max-width: vw-large(850px);
    }
    @include respond-from('medium') {
      max-width: vw-medium(540px);
    }
    @include respond-from('small') {
      max-width: none;
    }

    &__text {
      font-size: 24px;
      line-height: 34px;
      color: $black;
      font-weight: 500;
      margin-bottom: 48px;
      letter-spacing: -0.02em;
      @include respond-from('large') {
        font-size: vw-large(24px);
        line-height: vw-large(34px);
        margin-bottom: vw-large(48px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(18px);
        line-height: vw-medium(26px);
        margin-bottom: vw-medium(40px);
      }
      @include respond-from('small') {
        font-size: vw-small(20px);
        line-height: vw-small(28px);
        margin-bottom: vw-small(40px);
      }

      p {
        margin-bottom: 8px;
        @include respond-from('large') {
          margin-bottom: vw-large(8px);
        }
        @include respond-from('medium') {
          margin-bottom: vw-medium(8px);
        }
        @include respond-from('small') {
          margin-bottom: vw-small(8px);
        }
      }

    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    @include respond-from('small') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: vw-small(20px);
    }
  }

  &__item {
    width: 160px;
    @include respond-from('large') {
      width: vw-large(160px);
    }
    @include respond-from('medium') {
      width: vw-medium(125px);
    }
    @include respond-from('small') {
      width: auto;
    }

    &__title {
      font-size: 40px;
      line-height: 48px;
      color: $black;
      font-weight: 700;
      margin-bottom: 8px;
      @include respond-from('large') {
        font-size: vw-large(40px);
        line-height: vw-large(48px);
        margin-bottom: vw-large(8px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(32px);
        line-height: vw-medium(36px);
        margin-bottom: vw-medium(8px);
      }
      @include respond-from('small') {
        font-size: vw-small(32px);
        line-height: vw-small(36px);
        margin-bottom: vw-small(8px);
      }
    }

    &__text {
      font-size: 18px;
      line-height: 26px;
      color: $black;
      font-weight: 500;
      @include respond-from('large') {
        font-size: vw-large(18px);
        line-height: vw-large(26px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(16px);
        line-height: vw-medium(22px);
      }
      @include respond-from('small') {
        font-size: vw-small(16px);
        line-height: vw-small(22px);
      }
    }
  }
}