.hero-about {
  padding: 0;
  .container{
    padding-top: 90px;
    padding-bottom: 70px;
  }
  &__title {
    font-size: 52px;
    line-height: 60px;
    color: $black;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
    color: $black;
    font-weight: 400;
    max-width: 442px;
  }

  &__image {
    width: 100%;
    height: 540px;
    object-fit: cover;
  }
}