.holding {
  padding: 0;
  position: relative;

  .container {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    @include respond-from('small') {
      flex-direction: column;
      padding: 0;
    }
  }

  &__info {
    width: 60%;
    padding: 170px 120px 170px 0;
    @include respond-from('large') {
      padding: vw-large(170px) vw-large(120px) vw-large(170px) 0;
    }
    @include respond-from('medium') {
      padding: vw-medium(80px) vw-medium(40px) vw-medium(80px) 0;
    }
    @include respond-from('small') {
     padding: vw-small(32px) vw-small(16px) vw-small(56px);
      width: 100%;
    }

    &__title {
      font-size: 40px;
      font-weight: 700;
      color: $black;
      margin-bottom: 16px;
      @include respond-from('large') {
        font-size: vw-large(40px);
        margin-bottom: vw-large(16px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(32px);
        margin-bottom: vw-large(16px);
      }
      @include respond-from('small') {
        font-size: vw-small(32px);
        margin-bottom: vw-small(16px);
      }
    }

    &__text {
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        color: $black;
        margin-bottom: 8px;
        @include respond-from('large') {
          font-size: vw-large(18px);
          line-height: vw-large(26px);
          margin-bottom: vw-large(8px);
        }
        @include respond-from('medium') {
          font-size: vw-medium(16px);
          line-height: vw-medium(22px);
          margin-bottom: vw-medium(8px);
        }
        @include respond-from('small') {
          font-size: vw-small(16px);
          line-height: vw-small(22px);
          margin-bottom: vw-small(8px);
        }
      }
    }

    &__link {
      color: $black;
      font-size: 20px;
      line-height: 38px;
      font-weight: 600;
      text-decoration: underline;
      position: relative;
      display: inline-block;
      margin-top: 40px;
      transition: all .2s ease-in-out;
      @include respond-from('large') {
        font-size: vw-large(20px);
        line-height: vw-large(38px);
        margin-top: vw-large(40px);
      }
      @include respond-from('medium') {
        font-size: vw-medium(20px);
        line-height: vw-medium(38px);
        margin-top: vw-medium(40px);
      }
      @include respond-from('small') {
        font-size: vw-small(20px);
        line-height: vw-small(38px);
        margin-top: vw-small(24px);

      }
      &:hover {
        color: $orange;
        &:hover {
          color: $orange;

          &:after {
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M2 9H14.5" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="square"/><path d="M10 3.75L15.25 9L10 14.25" stroke="%23F45F1C" stroke-width="1.5" stroke-linecap="square"/></svg>');
            background-size: cover;
            right: -35px;
            width: 18px;
            height: 20px;
            @include respond-from('large') {
              width: vw-large(18px);
              height: vw-large(20px);
              right: vw-large(-35px);
            }
            @include respond-from('medium') {
              width: vw-medium(18px);
              height: vw-medium(20px);
              right: vw-medium(-35px);
            }
            @include respond-from('small') {
              width: vw-small(18px);
              height: vw-small(20px);
              right: vw-small(-35px);
            }
          }
        }
      }

      &:after {
        position: absolute;
        content: '';
        width: 18px;
        height: 20px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none"><path d="M1 11H13.5" stroke="%23303033" stroke-width="1.5" stroke-linecap="square"/><path d="M9 5.75L14.25 11L9 16.25" stroke="%23303033" stroke-width="1.5" stroke-linecap="square"/></svg>');
        background-size: cover;
        right: -25px;
        top: 50%;
        transform: translateY(-50%);
        transition: all .2s ease-in-out;
        @include respond-from('large') {
          width: vw-large(18px);
          height: vw-large(20px);
          right: vw-large(-25px);
        }
        @include respond-from('medium') {
          width: vw-medium(18px);
          height: vw-medium(20px);
          right: vw-medium(-25px);
        }
        @include respond-from('small') {
          width: vw-small(18px);
          height: vw-small(20px);
          right: vw-small(-25px);
        }
      }
    }
  }

  &__image {
    width: 38vw;
    height: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
    @include respond-from('large') {

    }
    @include respond-from('medium') {

    }
    @include respond-from('small') {
      width: 100%;
      position: relative;
      height: auto;
    }
  }
}